:root {
  --wheel-size: 200px;
}

.App {
  margin-left: 1em; /* css is hard */
}

.caption-grid {
  justify-content: flex-start;
  align-items: center;
  width: min-content;
}

.phase {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 1em;
}

.diamond-button {
  position: relative;
  cursor: pointer;
  scale: 1.5;
  width: 1em;
  height: 1em;
}
.diamond-top {
  position: absolute;
  top: -8px;
  left: 0px;
}
.diamond-bottom {
  position: absolute;
  top: 8px;
  left: 0px;
  rotate: 180deg;
}

.wheel {
  width: var(--wheel-size);
  height: var(--wheel-size);
  border: 2px solid black;
  /* border-radius: 260px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4b08f;
  border-radius: 50%;
  position: relative;
}

.wheel-dial {
  width: calc(var(--wheel-size) / 2.72);
  height: calc(var(--wheel-size) / 2.72);
  border: 2px dashed black;
  background-color: #282715;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-hands {
  width: calc(var(--wheel-size) / 2.5);
  height: 5px;
  border: 2px dashed black;
  background-color: #141408;
  position: absolute;
  transform-origin: 50% 50%;
}

.wheels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  gap: 1em;
  justify-content: flex-start;
}

.lock-box {
  width: var(--wheel-size);
  height: calc(var(--wheel-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  margin-right: 5px; /* i guess.... */
}

.lock {
  width: calc(var(--wheel-size) / 2);
  height: calc(var(--wheel-size) / 2);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a4b08f;
  background-size: cover;
  background-position: center;
  position: relative;
}

.locks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
}

.small-circle {
  width: calc(var(--wheel-size) / 5);
  height: calc(var(--wheel-size) / 5);
  background-repeat: round;
  border-radius: 50%;
  position: absolute;
}

.active {
  box-shadow: 0 0 24px yellow;
  outline: 2px solid yellow;
}
.damage {
  box-shadow: 0 0 24px orange;
  outline: 2px solid orange;
}
.stall {
  box-shadow: 0 0 24px black;
  outline: 2px solid black;
}

svg.prep {
  .MuiRating-iconFilled {
    color: #4094c9;
  }

  .MuiRating-iconEmpty {
    color: darkgray;
  }
}

svg.damage-bar {
  box-shadow: 0 0 24px orange;
  color: orange;
}
svg.stall-bar {
  box-shadow: 0 0 24px black;
  color: black;
}


.small-circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transform: rotate(0deg); /* Cancels out parent rotation */
}

/* Position each small circle at clock positions */
.small-circle:nth-child(3) { transform: rotate(0deg) translateY(calc(var(--wheel-size) / -2.857)); }  /* 12 */
.small-circle:nth-child(4) { transform: rotate(60deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 2 */
.small-circle:nth-child(5) { transform: rotate(105deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 4 */
.small-circle:nth-child(6) { transform: rotate(150deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 5 */
.small-circle:nth-child(7) { transform: rotate(210deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 7 */
.small-circle:nth-child(8) { transform: rotate(255deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 8 */
.small-circle:nth-child(9) { transform: rotate(300deg) translateY(calc(var(--wheel-size) / -2.857)); } /* 10 */

.lockset-label {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.locked-wheel {
  position: absolute;
  color: wheat;
  transform: scale(2.5);
  z-index: 1;
}

.dunk-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6dccd !important; 
}

.dunk-button {
  color: #b87804;
}

.dunk-icon {
  display: flex !important;
  width: 30px !important;
  height: 30px !important;
  justify-content: center;
  align-items: center;
}

.actions {
  width: 52em;
  height: 5em;
  /* border: 2px solid black; */
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row;
  overflow: auto;
}

.action-image {
  width: 5em;
  height: 90%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-right: 1em;
  flex: none;
}

.timer-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-button {
  transform: scale(0.8);
}
